.CartItem{
    color: aliceblue;
    background-color: #1ABC9C;
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 20rem;
    max-height: 50rem;
    transition: 0.2s;
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}